*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    color: #1521a4;
    background-color: #fef5ee;
    font-family: 'DM Sans', sans-serif;
    margin: 30px;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-size: 40px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin: 5px auto;
}

p {
    text-align: justify;
}

h2 {
    font-family: "DM Serif Display", serif;
    font-size: 35px;
}

ul a {
    text-decoration: none;
}

.menu-card {
    display: block;
    margin: 5px auto;
    padding: 10px;
    width: 400px;
    border: solid;
    list-style: inside;
}

.menu {
    text-align: center;
    font-family: Corinthia, cursive;
    font-size: 35px;
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
    list-style-position: inside;
    text-align: justify;
}

.credit {
    color: rgb(147, 159, 226);
    text-align: right;
}

.user-name {
    font-weight: bold;

}

.footer-link,
.footer-link a{
    text-align: center;
    text-decoration: none;
    color: #6a706e;
    margin-top: 20px;
}